.red_link {
    color: red;
}

.slider {
    position: relative;
}

.slider img {
    width: 750pt;
    display: block;
}

.headline {
    background-image: url("../images/header.jpg");
    background-size: cover;
    width: auto;
    height: 200pt;
}

.topmenu {
    height: 80pt;
    margin-right: 60pt;
    margin-top: 30pt;
    position: static;
}

.goodblock {
    width: 210pt;
    height: 300pt;
    margin-left: 45pt;
    margin-top: 40pt;
    background-color: red;
    float: left
}

body {
    margin-top: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    width: 1440px;
    height: auto;
}

#container {
    background-image: url("../../resources/images/medium_vyprchka_all.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0pt;
}