<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Настройки подключения к БД -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:h2:/private/tmp/DZ_hibernate</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">qwerty</property>

        <!-- SQL диалект -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Максимальное число соединений в пуле -->
        <property name="connection.pool_size">10</property>

        <!-- Отключение автокоммитов -->
        <property name="hibernate.connection.autocommit">false</property>

        <!-- Включить автоматическое управление контекстом сессии -->
        <property name="current_session_context_class">thread</property>

        <!-- Настройка hibernate на автоматическое обновление структуры БД -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Вывод в консоль SQL-запросов -->
        <property name="show_sql">true</property>

        <!-- Подключение объектов сущностей -->
        <mapping package="com.springapp.mvc"/>
        <mapping class="com.springapp.mvc.common.GoodInfo"/>
        <mapping class="com.springapp.mvc.common.CategoryInfo"/>
        <!--<mapping class="ru.kpfu.itis.domain.myBase.Category"/>-->
        <!--<mapping class="ru.kpfu.itis.domain.myBase.Goods"/>-->

    </session-factory>
</hibernate-configuration>